<%= form_with(model: artical, local: true) do |form| %>
  <% if artical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artical.errors.count, "error") %> prohibited this artical from being saved:</h2>

      <ul>
      <% artical.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Title
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div class="field">
    Content
    <%= form.text_area :body, :size => "20x20" , class:"form-control col-lg-12" %>
  </div>

  <div class="field">
    User: 
    <%= artical.user.email %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-success text-white" %>
  </div>
<% end %>
